h1{
    border: 5px solid blueviolet;
    font-family: Arial;
    margin-bottom: 0px;
}
body{
    color: green;
    text-align: center;
    font-family: Arial;
    background-color: greenyellow;
}
.cont{
    border: 10px solid red;
}